/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */


@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum'),
        url('../fonts/cuprum.woff2') format('woff2'),
        url('../fonts/cuprum.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: local('cuprumbold'),
        url('../fonts/cuprumbold.woff2') format('woff2'),
        url('../fonts/cuprumbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: local('cuprumbolditalic'),
        url('../fonts/cuprumbolditalic.woff2') format('woff2'),
        url('../fonts/cuprumbolditalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Cuprum';
  src: local('cuprumitalic'),
        url('../fonts/cuprumitalic.woff2') format('woff2'),
        url('../fonts/cuprumitalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PTSans';
  src: local('PTSans'),
        url('../fonts/ptsans.woff2') format('woff2'),
        url('../fonts/ptsans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src: local('ptsansbold'),
        url('../fonts/ptsansbold.woff2') format('woff2'),
        url('../fonts/ptsansbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;

    background-color: #ffffff;
  }
a {
  text-decoration: none;
}
button {
  font: inherit;
  border: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.content-wrapper {
  margin: 0;
  padding: 0;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-header {
  background-color: #f3f7f9;
  color: #32425c;
  padding-bottom: 60px;
  margin-bottom: 46px;
}
.inner-page .main-header {
  margin: 0;
  margin-bottom: 15px;
}
.main-navigation {
  background-color: #293449;
  color: #ffffff;
  position: relative;
  margin-bottom: 46px;
}
.main-navigation .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-navigation a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  
  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  padding-top: 11px;
  padding-bottom: 13px;  
}
    .main-navigation a:hover,
    .main-navigation a:focus {
      background-color: #212a3a;
    }
    .main-navigation a:active {
      background-color: #161d29;
    }
   a.main-header-checkout {
    background-color: #63a63e;
    padding-right: 20px;
    padding-left: 16px;
    text-align: center;
  }
      a:hover.main-header-checkout,
      a:focus.main-header-checkout {
        background-color: #5fbb2d;
      }
      a:active.main-header-checkout  {
        background-color: #518534;
      }
a.main-header-logo {
  position: absolute;
  width: 220px;
  min-height: 47px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 5px;

  background-color: #ee3643;
  color: #ffffff;
  border-bottom: 5px solid #b52933;
}
a:hover.main-header-logo,
a:focus.main-header-logo {
  background-color: #ca2c37;
}
a:active.main-header-logo {
  background-color: #ba2732;
}
.main-header-search {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 270px;
  margin-left: 220px;
}
.main-header-search input {
  width: 100%;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;

  padding-left: 50px;
  padding-top: 11px;

  background-color: #293449;  
  border: none;
  outline: none;

  color: #ffffff;
}
.main-header-search input::-webkit-input-placeholder {color:#ffffff;}
.main-header-search input::-moz-placeholder {color:#ffffff;}
.main-header-search input:-moz-placeholder {color:#ffffff;}
.main-header-search input:-ms-input-placeholder {color:#ffffff;}

.main-header-search input:hover {
  background-color: #212a3a;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  padding-bottom: 13px;
}

.main-header-search input:focus,
.main-header-search input:active {
  background-color: #ffffff;
  color: #000000;
  padding-bottom: 13px;
  }
.main-header-search input:focus + button,
.main-header-search input:active + button {
  background-image: url(../img/icon-search_active.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: #ffffff;
  opacity: 1;
}
input {outline: none;}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
    -webkit-text-fill-color: #000 !important; /* цвет текста */
    color: #000 !important; /* цвет текста */
    padding-bottom: 13px;   
}

.main-header-search button {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 12px;
  left: 17px;
  cursor: pointer;
  background-color: #293449;
  background-image: url(../img/icon-search.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
  outline: none;
}
.main-header-search button:hover {
  opacity: 1;
}
.main-header-search button:active,
.main-header-search button:focus {
  opacity: 0.5;
}

.main-header-bookmarks {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 150px;
  max-width: 150px;
  overflow: hidden;
  padding-left: 45px;
}

a.main-header-bookmarks::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 17px;
  top: 12px;
  left: 17px;
  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.main-header-cart {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 150px;
  padding-left: 50px;
  max-width: 150px;
  overflow: hidden;
}
a.main-header-cart::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  top: 12px;
  left: 17px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.main-navigation .cart-not-empty {
  background-color: #ee3643;
}
a:hover.cart-not-empty,
a:focus.cart-not-empty {
  background-color: #ca2c37;
}
a:active.cart-not-empty {
  background-color: #ba2732;
}

/*.main-navigation input:hover {
      background-color: #212a3a;
    }*/
.middle-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
.main-header h1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 320px;
  margin: 0;
  padding: 0;
  padding-left: 50px;
  padding-right: 65px;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;

  color: #ee3643;
}
.phone {
  background-image: url(../img/icon-phone.png);
  background-position: 11px 10px;
  background-repeat: no-repeat;
}
a.phone {
  display: block;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;

  color: #ee3643;

  border: 3px solid #ffffff;

  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 72px;
  padding-right: 40px;

  margin-right: 47px;
}
.address {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;

  color: #32425c;
}
.main-header-contacts {
  width: 320px;
  margin: 0;
  padding: 0;
}
.user-menu {
  margin: 0;
  padding: 0;
}
.inner-page .user-menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  margin: 0;
  padding: 0;
}
.user-menu li.user-menu-name {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;

  background-image: url(../img/icon-user.png);
  background-position: 14px 13px;
  background-repeat: no-repeat;
}
.user-menu li.user-menu-name:hover {
  background-image: url(../img/icon-user-hover.png);
  background-position: 14px 13px;
  background-repeat: no-repeat;
}
.user-menu li.user-menu-name::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;

  top: 12px;
  right: 10px;

  background-image: url(../img/icon-logout.png);
  background-position: 0 0;
  background-repeat: no-repeat;

  cursor: pointer;
}
.user-menu li:hover.user-menu-name::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;

  top: 12px;
  right: 10px;

  background-image: url(../img/icon-logout-hover.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.user-menu li.user-menu-oders,
.user-menu li.user-menu-cabinet {
  background-color: transparent;
  padding: 0;
  margin: 0;
}
.user-menu li.user-menu-cabinet {
  position: relative;
}
.user-menu li.user-menu-cabinet::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  top: 15px;
  left: 6px;
  background-color: #32425c;
}
.user-menu li.user-menu-oders a,
.user-menu li.user-menu-cabinet a {
  padding: 0;
  margin: 0;
  padding-top: 8px;
  padding-left: 20px;
}
.user-menu a {
  display: block;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;

  padding-top: 10px;
  padding-bottom: 12px;
  padding-right: 24px;
  padding-left: 17px;
}
.user-menu a:link,
.user-menu a:visited {
  color: #000000;
}
.user-menu a:hover,
.user-menu a:focus {
  color: #ee3643;
}
.user-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}
a.login-link {
  padding-left: 44px;
}
.user-menu li {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  color: #000000;

  list-style: none;

  margin-left: 8px;
}
a.login-link::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 17px;
  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 14px;
  left: 12px;
  opacity: 0.3;
}
a:hover.login-link::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 17px;  
  background-image: url(../img/icon-login-hover.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 14px;
  left: 12px;
  opacity: 1;
}
.user-menu .user-menu-item a {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}
.user-menu .user-menu-item a:hover,
.user-menu .user-menu-item a:focus {
  color: #ee3643;
}
.user-menu .user-menu-item a:active {
  color: #32425c;
  opacity: 0.3;
}
.site-navigation {
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}
ul.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; 
  margin: 0;
  padding: 0;  
}
.site-navigation li {
  list-style: none;
}
.site-navigation li:hover,
.site-navigation li:focus {
  background-color: #293449;
}
.site-navigation li:active {
  background-color: #1d2739;
}
.site-navigation a {
  display: block;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  line-height: 27px;

  color: #ffffff;

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 17px;
  padding-bottom: 12px;
}
.site-navigation li:first-child {
  padding-left: 25px;
}
.site-navigation li:last-child a {
  padding-right: 51px;
}
.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

.container h1  {
  margin: 0;
  padding: 0;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  color: #32425c;
  background-color: #f9f5f0;

  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;

  margin-bottom: 20px;
}
.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
}
.breadcrumbs li {
  display: inline-block;
  margin-left: 12px;
}
.breadcrumbs li:first-child {
  margin-left: 0;
}
.breadcrumbs li:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 12px;
  background-image: url(../img/icon-right-small.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs a {
  display: inline-block;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  padding-right: 10px;

  color: #000000;
}
.breadcrumbs a.home {
  font-size: 0;
  line-height: 22px;
  width: 14px;
  background-image: url(../img/icon-home.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-right: 14px;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  text-decoration: underline;
}
.breadcrumbs-current {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  color: #000000;
}
.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.filters {
  width: 220px;
  margin-right: 20px;
}
.filters h2 {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;

  color: #000000;
  background-color: #f7f3ec;
  border-radius: 3px;
}
.filters fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.filters legend,
.filters-range legend {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;

  color: #000000;
}
.filters-range {
  margin-top: 15px;
  width: 220px;

  border-bottom: 1px solid #e5e5e5;
}
.range-controls {
  position: relative;
  height: 41px;

  background-color: #f7f3ec;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  margin-bottom: 10px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
}
.scale {
  height: 2px;
  background-color: #d7dcde;
}
.scale .bar {
  width: 70%;
  height: 2px;
  background-color: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 140px;
}
.price-controls {
  width: 220px;
  margin-bottom: 25px;
}
.price-controls input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 95px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 3px;
}
.price-controls span {
  display: inline-block;
  width: 10px;
  height: 1px;
  background-color: #444444;
  margin: 0 6px;
  vertical-align: middle;
}
.filters input {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;

  color: #000000;
  background-color: #f7f3ec;
  border: none;
}
.filters ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
.filter-input + label {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: normal;
}
.manufactures {
  padding-top: 18px;
}
ul.manufactures-options { 
  padding-bottom: 4px;
  border-bottom: 1px solid #e5e5e5;
}
.manufactures-options label {
  position: relative;
  margin-left: 35px;
}
.manufactures-options label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  width: 23px;
  height: 23px;

  margin-left: -35px;

  background-color: #ffffff;
  border: 2px solid #c5c5c5;
  border-radius: 3px;
}
.manufactures-options li {
  margin-bottom: 16px;
}
.manufactures-options input:checked + label::before {
  position: absolute;
  top: -1px;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
}
ul.accumulators {
  margin-bottom: 78px;
}
.accumulators-legend {
  padding-top: 18px;
}
.accumulators label {
  position: relative;
  margin-left: 35px;
}
.accumulators label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  width: 25px;
  height: 25px;

  margin-left: -35px;

  background-color: #ffffff;
  border: 4px solid #c5c5c5;
  border-radius: 50%;
}
.accumulators li {
  margin-bottom: 16px;
}
.accumulators input:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -27px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #c5c5c5;
}

.filter-button {
  width: 140px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;

  padding-top: 10px;
  padding-bottom: 8px;
}
.filter-button:hover,
.filter-button:focus {
  border-color: #bdc6ca;
}
.filter-button:active {
  border-color: #ee3643;
}
.perforators h3 {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  margin: 0;

  color: #000000;
}
.perforators ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
}
.sorting {  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f7f3ec;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 20px;
}
.sorting-list a {
  display: block;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;

  color: #000000;
  opacity: 0.5;
  border-bottom: 1px dotted #ee3643;
}
.sorting-list a:hover,
.sorting-list a:focus {
  opacity: 1;
  border-bottom: 1px solid #ee3643;
}
.sorting-list a:active {
  color: #ee3643;
  border: none;
}
.sorting h3 {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-left: 20px;
}
ul.sorting-list {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  padding-bottom: 11px;
  margin-right: 30px;
  width: 430px;
}
.arrow a {
  position: relative;
}

.arrow.increase a::before {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 17px;
  width: 0;
  height: 0; 
  border-top: 10px solid #f7f3ec;
  border-bottom: 10px solid #ee3643;
  border-left: 6px solid #f7f3ec;
  border-right: 6px solid #f7f3ec;
}
.arrow.decrease a::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 0;
  height: 0;
  border-top: 10px solid #c5c5c5;
  border-bottom: 10px solid #f7f3ec;
  border-left: 6px solid #f7f3ec;
  border-right: 6px solid #f7f3ec;
}
.promo {
  position: relative;
  width: 100%;
  height: 422px;
  margin-bottom: 53px;
}
.promo-box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 300px;
  height: 125px;
  top: 0;
}
.promo-slider {
  position: absolute;
  width: 620px;
  height: 266px;
  bottom: 0;
  left: 0;
}

.promo b {
  max-width: 170px;
  max-height: 30px;
  overflow: hidden;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 21px;
  margin-left: 22px;
  margin-bottom: 14px;
}
.promo a {
  min-width: 95px;
  max-width: 130px;
  max-height: 30px;
  overflow: hidden;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);

  margin-left: 25px;
  margin-bottom: 10px;
  padding: 9px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}
.promo a:hover,
.promo a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
.promo a:active {
  background-color: rgba(0, 0, 0, 0.3);
}
.promo-box a {
  display: inline-block;
}
.promo-materials {
  background-color: #ffbf47;
  top: 0;
  left: 0;
  background-image: url(../img/promo-materials.png);
  background-repeat: no-repeat;
  background-position: 213px center;
}
.new {
  background-image: url(../img/promo-materials.png), url(../img/new.png);
  background-repeat: no-repeat;
  background-position: 213px center, 100% 0;
}
.promo-tool {
  background-color: #3bbce3;
  top: 0;
  left: 320px;
  background-image: url(../img/promo-tool.png);
  background-repeat: no-repeat;
  background-position: 197px center;
}
.promo-technics {
  background-color: #dc91d8;
  top: 0;
  right: 0;
  background-image: url(../img/promo-technics.png);
  background-repeat: no-repeat;
  background-position: 190px center;
}
.promo-discounts {
  background-color: #8ed78f;
  top: 143px;
  right: 0;
  height: 123px;
  background-image: url(../img/promo-discounts.png);
  background-repeat: no-repeat;
  background-position: 197px center;
}
.promo-delivery {
  background-color: #ffc047;
  top: 288px;
  right: 0;
  height: 122px;
  background-image: url(../img/promo-delivery.png);
  background-repeat: no-repeat;
  background-position: 190px center;
}
.top-slogan {
  max-height: 115px;
  overflow: hidden;

  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.25);
}

.top-slogan h3 {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase; 

  margin: 0;
  padding: 0;
  padding-top: 24px;
  padding-left: 24px;

  color: #ffffff; 
}
.top-slogan p {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;

  margin: 0;
  padding: 0;
  padding-left: 24px;

  color: #ffffff;
}
.promo-button {
  position: absolute;
  top: 208px;
  left: 0;
}
a.promo-button {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #ee3643;

  text-align: center;
  vertical-align: middle;

  padding-left: 45px;
  padding-right: 45px;
}
a:hover.promo-button,
a:focus.promo-button {
  background-color: #ca2c37;
}
a:active.promo-button {
  background-color: #ba2732;
}
a.red-button {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #ee3643;

  text-align: center;
  vertical-align: middle;

  padding-left: 25px;
  padding-right: 25px;
}
a:hover.red-button,
a:focus.red-button {
  background-color: #ca2c37;
}
a:active.red-button {
  background-color: #ba2732;
}
.promo-slider-button {
  position: absolute;
  width: 22px;
  height: 40px;
  top: 115px;
  cursor: pointer;
  text-indent: -10000px;
}
.promo-slider-button.next {
  right: 20px;
  background-color: transparent;
  background-image: url(../img/arrow-next.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.promo-slider-button.previous {
  left: 25px;
   background-color: transparent;
  background-image: url(../img/arrow-previous.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 20px;
  z-index: 100;

  width: 45px;
  height: 30px;

  text-align: center;
  font-size: 0;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);

}
.slider-controls .active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  margin: -3px;

  width: 6px;
  height: 6px;

  background-color: #ee3643;
  border-radius: 50%;
}
.slider-controls i {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
}
.slider-controls i::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  top: 5px;
  left: 5px;
}
.popular-goods {
  position: relative;
}
a.popular-goods-button {
  position: absolute;
  top: 26px;
  right: 25px;

  max-width: 200px;
  max-height: 65px;

  padding: 10px 50px;
  border-radius: 5px;
}
.popular-goods h2 {
  margin: 0;
  padding: 0;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  color: #32425c;
  background-color: #f9f5f0;

  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 300px;

  margin-bottom: 20px;
}
.popular-goods ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.popular-goods h3,
.perforators-list .popular-goods-item h3 {
  max-height: 160px;
  overflow: hidden;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  margin: 0;
  margin-top: 23px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  text-transform: none;
}
.popular-goods img {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  width: 218px;
  height: 156px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.popular-goods-oldprice {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  min-height: 18px;
  margin: 0;
  padding: 10px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: line-through;
  color: #a9a9a9;
  text-align: center;
}
.popular-goods-discount {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 130px;
  height: 38px;
  margin: 0 auto;
  padding: 10px 25px;
  margin-bottom: 20px;

  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  
  color: #ffffff;
  background-color: #ee3643;

  text-align: center;
  border-radius: 3px;

  cursor: pointer;
}

.popular-goods-discount::after {
  content: "";
  position: absolute;
  top:0;
  right: -30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  width: 30px;
  height: 38px;
  border-top: 19px solid white;
  border-right: 19px solid white;
  border-bottom: 19px solid white;
  border-left: 19px solid #ee3643;

}
li.popular-goods-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border: 1px solid #eaeaea;
  width: 218px;
  margin-right: 17px;
  margin-bottom: 20px;
}
li.popular-goods-item:last-child {
  margin-right: 0;
}
.inner-page li.popular-goods-item:nth-child(3n) {
  margin-right: 0;
}
.popular-goods-item:hover,
.popular-goods-item:focus {
  -webkit-box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}
.actions {
  display: none;
  position: absolute;
  width: 218px;
  height: 150px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}
.perforators-list .actions {
  height: 180px;
}
.new .actions {
  background-image: url(../img/new.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.popular-goods-item:hover .actions {
  display: block;
}
li.popular-goods-item.new::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 59px;
  top: 0;
  right: 0;
  background-image: url(../img/new.png);
  background-repeat: no-repeat;
  background-position: 0 100%;
}
a.popular-goods-checkout {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 130px;
  padding: 7px 25px;
  margin: 45px auto 5px;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #63a63e;
  color: #ffffff;

  border-bottom: 2px solid #367315;
  border-radius: 2px;

  text-align: center;
  vertical-align: middle;
}
a:hover.popular-goods-checkout,
a:focus.popular-goods-checkout {
  background-color: #5fbb2d;
}
a:active.popular-goods-checkout {
  background-color: #518534;
  border-bottom-color: #518534;
}
a.popular-goods-bookmarks {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 130px;
  padding: 7px 25px;
  margin: 0 auto;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #ffffff;
  color: #32425c;

  border: 2px solid #63a63e;
  border-radius: 2px;

  text-align: center;
  vertical-align: middle;
}
a:hover.popular-goods-bookmarks,
a:focus.popular-goods-bookmarks {
  border-color: #32425c;
}
a:active.popular-goods-bookmarks {
  border-color: rgba(50, 66, 92, 0.3);
}
.popular-manufacturer {
  position: relative;
}
.popular-manufacturer h2 {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 300px;
  margin-bottom: 20px;

  color: #32425c;
  background-color: #f9f5f0;
}
a.popular-manufacturer-button {
  position: absolute;
  max-width: 150px;
  max-height: 25px;
  overflow: hidden;

  top: 26px;
  right: 25px;
  padding: 10px 65px;
  border-radius: 5px;
}
.popular-manufacturer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 65px;
}
li.popular-manufacturer-item {
  position: relative;
  margin: 0;
  padding: 0;
  width: 218px;
  height: 143px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}
li.popular-manufacturer-item:nth-child(4n) {
  margin-right: 0;
}
.popular-manufacturer-item:hover,
.popular-manufacturer-item:focus {
  -webkit-box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}
.popular-manufacturer-item:active {
  opacity: 0.3;
}
.popular-manufacturer-item a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  text-align: center;
  vertical-align: middle;
}

.services {
  background-color: #f4f8f9;
  margin-bottom: 80px;
}
.services h2 {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  padding: 0;
  margin: 0;

  padding-top: 65px;
  margin-bottom: 25px;

  color: #32425c;
}
.services p {
  margin-bottom: 30px;
}

.services-item {
  display: none;
  position: absolute;
  width: 700px;
  top: -55px;
  left: 230px;
  padding-bottom: 30px;
  padding-top: 40px;
}
.services-item h3 {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  max-height: 60px;
  overflow: hidden;

  margin: 0;
  padding: 0;
  padding-left: 80px;
  padding-top: 58px;
  margin-bottom: 30px;
  padding-right: 180px;

  color: #32425c;
}
.services-item p {  
  width: 300px;
  padding-left: 80px;
}
li.services-item::before {
  content: "";
  position: absolute;
  height: 272px;
  width: 32px;
  background-image: url(../img/delivery_shadow.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
#delivery {
  background-image: url(../img/delivery_bg.png);
  background-repeat: no-repeat;
  background-position: 100% 100px;
}
#warranty {
  background-image: url(../img/warranty_bg.png);
  background-repeat: no-repeat;
  background-position: 100% 100px;
}
#warranty p {
  width: 400px;
}
#credit {
  background-image: url(../img/credit_bg.png);
  background-repeat: no-repeat;
  background-position: 100% 100px;
}
#credit p {
  margin-bottom: 30px;
  max-height: 75px;
  overflow: hidden;
}

a.delivery-link.active ~ #delivery,
a.warranty-link.active ~ #warranty,
a.credit-link.active ~ #credit
 {
  display: block;
}
a.services-item-link {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;

  padding: 13px 10px 17px 22px;
  margin: 0;

  color: #ffffff;
  background-color: #32425c;

  border-top: 1px solid #4d637b;
}
a:hover.services-item-link,
a:focus.services-item-link,
a.services-item-link.active {
  color: #32425c;
  background-color: #ffffff;
  border: none;
}
.services-list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
  padding-top: 40px;
  overflow: hidden;
}
a.request {
  display: inline-block;
  padding: 10px 45px;
  border-radius: 5px;
  margin-left: 80px;
  margin-bottom: 20px;
}
.index-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 41px;
}
.contacts {
  position: relative;
  }
.modal-map {
  position: fixed;
  display: none;
  width: 940px;
  height: 447px;
  top: 350px;
  left: 480px;
}
.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}
.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}
button.modal-close {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 20px;
  right: 9px;

  background-image: url(../img/modal_map_close.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;

  text-indent: 10000px;
  cursor: pointer;

  z-index: 3;
}
.modal-map img.modal-map-img  {
  -webkit-box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
  width: 940px;
  height: 447px;
}
.write-us {
  position: fixed;
  display: none;
  width: 622px;
  top: 350px;
  left: 480px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.write-us button.modal-close {
  top: 10px;
}
.modal-login {
  position: fixed;
  display: none;
  width: 622px;
  top: 350px;
  left: 480px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}
.login-form button.modal-close {
  top: 10px;
}
.login-form p.login-help {
  width: 100%;
}
.login-help a {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}
.login-help a:hover,
.login-help a:focus {
  color: #ee3643;
}
.login-help a:active {
  color: #32425c;
  opacity: 0.3;
}

.company h2,
.contacts h2 {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  color: #000000;
}
.company p {
  margin: 0;
  line-height: 24px;
  margin-bottom: 26px;
}
.company ul {  
  margin: 0;
  padding: 0;
  margin-bottom: 35px;

  list-style: none;
}
.company li {
  position: relative;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: -5px;
  padding-left: 35px;
}
.company li::before {
  content: "";
  position: absolute;
  width: 23px;
  border: 1px solid #ee3643;
  left: 0;
  top: 12px;
}
.company-button {
  display: inline-block;
  width: 170px;
  padding: 10px 45px;
  border-radius: 5px;
  margin-left: 0;
  margin-bottom: 20px;
}
.contacts {
  margin-left: 68px;
}
.contacts p {
  margin-bottom: 34px;
  padding-right: 50px;
}
.contacts img {
  margin-bottom: 36px;
  width: 300px;
  height: 158px;
}
.contacts-button {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  padding: 10px 45px;
  border-radius: 5px;
  margin-left: 0;
  margin-bottom: 20px;
  cursor: pointer;
}
ul.pagination-list {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 58px;
}
.pagination-list a {
    display: block;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 11px;

    color: #000000;

    border: 1px solid #e5e5e5;
    border-radius: 2px;
}
.pagination-list a:hover,
.pagination-list a:focus {
  border-color: #bdc6ca;
}
.pagination-list a:active {
  border-color: #ee3643;
}
li.pagination-item-current {
  line-height: 18px;

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 11px;

  border: 1px solid #ee3643;
  border-radius: 2px;

  color: #ffffff;
  background-color: #ee3643;
}
.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about {
  background-color: #f4f8f9;  
  padding-bottom: 44px;
}
.about h2 {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
  padding-top: 65px;
  padding-bottom: 27px;

  color: #000000;
}
.about p {
  margin: 0;
  padding: 0;
}

.main-footer-logo {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  padding: 17px 25px 15px 42px;
  margin-bottom: 30px;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;

  overflow: hidden;
}
.footer-nav {
  background-color: #32425c;
}
.footer-nav p {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;

  margin-bottom: 48px;

  color: #f3f7f9;
}
.footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 550px;
  margin-top: 38px;
  margin-bottom: 33px;
}
.footer-navigation a {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;

  color: #f3f7f9;
}
.footer-navigation a:hover,
.footer-navigation a:focus {
  text-decoration: underline;
}
.footer-navigation a:active {
  opacity: 0.5;
}
.footer-catalog-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 550px;
}

.footer-catalog-navigation a {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;

  padding-left: 30px;
  padding-right: 20px;

  color: #ffd180;
}
.footer-catalog-navigation li:last-child a {
  padding-right: 0;
}
.footer-catalog-navigation a:hover,
.footer-catalog-navigation a:focus {
  text-decoration: underline;
}
.footer-catalog-navigation a:active {
  opacity: 0.5;
}
ul.footer-navigation,
ul.footer-catalog-navigation {
  list-style: none;
}
.footer-links {
  background-color: #293449;
}
.footer-links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding-top: 37px;
}
p.copyrights {
  max-width: 350px;
  
  margin: 0;
  padding: 0;
  margin-bottom: 35px;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;

  color: #ffffff;
}
ul.footer-socials {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 75px;
  width: 135px;
  margin-right: 40px;
}
.footer-socials li {
  display: inline-block;
}
a.socials-button {
  display: block;
  width: 42px;
  height: 42px;

  background-color: #212a3a;

  border-radius: 50%;
  text-indent: -10000px;
}
.vk {
  background-image: url(../img/vk-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.fb {
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.insta {
  background-image: url(../img/insta-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.vk:hover,
.fb:hover,
.insta:hover {
  background-color: #ee3643;
}
p.feedback {
  padding: 0;
  margin: 0;
}
.feedback {
  width: 115px;
}
.feedback b {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;

  color: #ffffff;
}
.feedback a {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;

  color: #ffd180;
}
.feedback a:hover,
.feedback a:focus {
  text-decoration: underline;
}
.feedback a:active {
  color: #ee3643;
}

.write-us {
  border-top: 5px solid #ff5257;
}
.write-us label {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;

  color: #000000;
}
.write-us input {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}
.write-us textarea {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

button.send-button {
  width: 495px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #ee3643;

  text-align: center;
  vertical-align: middle;

  margin: 35px 80px;
  padding: 8px;
  border-radius: 5px;
}
button:hover.send-button,
button:focus.send-button {
  background-color: #ca2c37;
}
button:active.send-button {
  background-color: #ba2732;
}
.write-us-form {
  background-color: #f4f4f4;
}
.form-imputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding-top: 45px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: #ffffff;
}
.write-us-form p {
  margin: 0;
  padding: 0;
  width: 203px;
  margin-bottom: 15px;
}
.write-us-form p:nth-child(1) {
  margin-right: 20px;
}
.write-us-form p input {
  width: 100%;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  padding: 10px 15px;
  margin-top: 5px;
}
.write-us-form p.textarea {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 30px;
}
.textarea textarea {
  width: 100%;
  height: 115px;
  padding: 10px 15px;
  border: 2px solid #dee3e4;
  border-radius: 3px;
}
.added {  
  display: none;
  position: fixed;
  z-index: 100;
  top: 350px;
  left: 650px;

  width: 620px;

  border-top: 5px solid #ff5257;
  background-color: #f4f4f4;

  -webkit-box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);

          box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
  padding-bottom: 35px;
}
.added:target {
  display: block;
}
.added-wrapper {
  padding-top: 70px;
  padding-bottom: 80px;

  background-color: #ffffff;
}
.added p {
  position: relative;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;

  margin: 0;
  margin-left: 170px;

  color: #000000;
  background-color: #ffffff;
}
.added p::before {
  content: "";
  position: absolute;
  top: -15px;

  margin-left: -80px;
  
  width: 68px;
  height: 68px;

  background-color: #63a63e;
  border-radius: 50%;

  background-image: url(../img/added.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
a.proceed-button {
  display: inline-block;
  width: 220px;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  padding-top: 10px;
  padding-bottom: 10px;

  color: #000000;
  background-color: #ffffff;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
a:hover.proceed-button,
a:focus.proceed-button {
  border-color: #bdc6ca;
}
a:active.proceed-button {
  border-color: #ee3643;
}
.checkout {
  display: inline-block;
  
  margin-left: 55px;
  margin-top: 35px;
  margin-right: 20px;
}
a.checkout {
  width: 220px;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  padding-top: 10px;
  padding-bottom: 10px;

  color: #ffffff;
  background-color: #ee3643;

  text-align: center;

  border: 1px solid #ee3643;
  border-radius: 3px;
}
a:hover.checkout,
a:focus.checkout {
  background-color: #ca2c37;
}
a:active.checkout {
  background-color: #ba2732;
}
.modal-close.added-close {
  top: 10px;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}
.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}